<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dashwire.config.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="htc.socialmanager.permission.USE_SOCIALSERVICE" />

    <uses-sdk android:minSdkVersion="16" />

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Tests for com.dashwire.config.test"
        android:targetPackage="com.dashwire.config" />

</manifest>
