extensions/*/common/dashconfig/project/proguard_logs
ra/shared/intg_test/intg-test-results
ra/shared/features_testing/fctnl_test/fctnl-test-results
**/assets-from-device
out/
.idea
ews_debug.out
android/out
android/AndroidManifest.xml
android/.classpath
*/target
*/pom.xml.releaseBackup
android/RELEASE.txt
exchangetests/out
configurator3000/out/
standin/out/
widget_service/out/
widget_service/AndroidManifest.xml
widget_service/.classpath
**/.idea
r2gc.iws
bin
gen
proguard
log
.metadata
.svn
*.pid
release.properties
S3Upload.rb
server/config/initializers/dashconfig_initializer.rb
server/config/initializers/redis.rb
notification_server/redis_config.js
local.properties
tmp
.DS_Store
**/.DS_Store
coberturareport
instrumented
junit
cobertura.ser