<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.dashwire.configurator3000">
	<uses-sdk android:minSdkVersion="15" />
    <application android:icon="@drawable/gears" android:label="@string/app_name">
        <activity android:name=".SplashActivity"
                  android:label="@string/app_name">
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity">
        </activity>
        <service android:enabled="true" android:name="com.dashwire.configurator3000.test.TestConfigurationIntentService" android:exported="true">
        </service>
        <receiver android:name="Configruator3000PackageReceiver" android:exported="true" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"></action>
                <action android:name="android.intent.action.PACKAGE_REPLACED"></action>
                <data android:scheme="package"></data>
            </intent-filter>
        </receiver>
        <receiver android:name=".BootCompletedReceiver" android:exported="true" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="com.dashwire.config.PERM_CONFIG" />
    <uses-permission android:name="com.dashwire.config.PERM_CONFIG_INTERNAL" />
    <uses-permission android:name="com.dashwire.config.email.permission.EMAIL_CONFIG"/>
</manifest>