<?xml version="1.0" encoding="utf-8"?>
<!-- 
Swap in htc shared user below when extracting from  htc
    android:sharedUserId="android.uid.system"
    android:sharedUserId="com.htc.rosie.uid.shared" 
    android:sharedUserId="com.lg2.launcher2"-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dashwire.asset.gatherer.common"
    android:versionCode="1"
    android:versionName="1.0" >

	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15" />

    <uses-permission android:name="dash.test.perm"/>
 	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>  
    <uses-permission android:name="android.permission.BIND_APPWIDGET"/>
    <application 
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name="com.dashwire.asset.PackageinfoActivity"
            android:permission="">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:enabled="true"
                 android:name="com.dashwire.asset.server.ClientService" />
        <service android:enabled="true"
                 android:name="com.dashwire.asset.ExtractionService" >
            <intent-filter>
                <action android:name="com.dashwire.asset.gatherer.intent.action.START_EXTRACTION" />
            </intent-filter>
        </service>
    </application>

</manifest>